* {
    /* box-sizing: inherit; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

body {
    /* font-size: 20px; */
    font-family: 'Be Vietnam', sans-serif ;
    
}

.cursor {
    position: absolute;
    z-index: 100;
    
    width: 2vw;
    height: 2vw;
    background-color: white;
    mix-blend-mode: difference;
    transform:  translate(-50%, -50%);  
    pointer-events: none;
    transition: transform .5s ease;
}

.cursor.change {
    width: 7vw;
    height: 7vw;
    transition: width 1s ease, height 1s ease;
}


/* ::before,
::after {
    position: absolute;
    content: "";
} */


/* Grid image prototype */

.grid_proto {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    top: 0;
    display: none;
}

/* ----------------------------- */

#main {
    width: 100%;
    /* height: 400%; */
    /* scroll-snap-type: y mandatory;
    overflow-y: scroll; */
}

#home_section {
    /* width: 100%; */
    height: 100vh;
    /* scroll-snap-align: start; */
}

#work_section {
    /* width: 100%; */
    height: 100vh;
    background-color: #000 ;
    overflow: hidden;
    margin-top: -1px;
    /* scroll-snap-align: start; */
}

#aboutMe_section {
    /* width: 100%; */
    height: 100vh;
    background-color: #EA5106;
    color: black;
    display: flex;
    /* scroll-snap-align: start; */
}


