:root {
    --orange: #EA5106;
    --black: #000;
    --white: #fff;
    --square-w: 7.3vw;
    --square-h: 13vh;
    --vid-size-w: calc((var(--square-w) * 5.5) );
    --vid-size-h: calc((var(--vid-size-w) * .5625) );
    --pic-size-w: calc((var(--square-w) * 5) );
    --pic-size-h: calc((var(--square-h) * 4) );
    --gap-w: calc((var(--square-w) / 10) * 2);
    --gap-h:calc((var(--square-h) /10) * 2);
    --letter-w: 4.2vw;
}

body {
    background-color: var(--black);
    
}

/* ------------------------------------------------------- */



.title {
    display: block;
    /* margin-top: var(--square-h); */
    margin-left: var(--square-w);
}

.title h1 {
    color: var(--white);
    /* position: absolute;
    z-index: 1; */
    font-size: 9vw;
    line-height: var(--square-h);
    left: var(--square-w);
    top: calc(var(--square-h) - var(--gap-h));
}

.title p {
    display: block;
    width: 70%;
    color: var(--white);
    font-size: 2vw;
    font-weight: 700;
    
    margin-top: calc(var(--gap-h) * 3);
}

/* ---------nav bar--------------- */

nav {
    position: fixed;
    z-index: 3;
    top: calc(var(--square-h) - var(--gap-h) * 2);
    right: var(--square-w);
}

.menu {
    display: flex;

}

.menu li {
    list-style: none;;
}

.menu a {
    text-decoration: none;
    color: var(--white);
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 2vw;
    font-weight: 700;
}

/* -------------------------- */
/* main {


    top: calc(var(--square-h) * 2);
} */

button {
    background-color: var(--black);
    border: none;
    cursor: pointer;
    
}



.row {
    display: flex;
    justify-content: space-around;
    margin-top: var(--square-h);
    align-items: center;
    height: 100vh;
    /* border-bottom: solid 1vh var(--white) ; */
    /* flex-direction: row; */
}

.row:nth-child(2n) {
    flex-direction: row-reverse;
}

.column {
    width: 50%;
}

.column .vid {
    width: 50%;
    margin: 0 5vw 0 5vw;
}


img, .pic {
    width: var(--pic-size-w);
    
    
}

.vid {
    width: var(--vid-size-w);
    height: var(--vid-size-h)
   
}


.thumb_des {
    color: var(--white);
}

.thumb {
    color: var(--white);
    font-size: 4vw;
    text-decoration: none;
    font-weight: 900;
}

.des {
    font-size: 2vw;
    font-weight: 500;
}



